.panier-container {
	background-color: #d5c7a3;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	color: #5b3a29;
}

.panier-container h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

.panier-container p {
	font-size: 1.2em;
}

.panier-container ul {
	list-style-type: none;
	padding: 0;
}

.panier-container ul li {
	margin: 10px 0;
}
